<div class="animated fadeIn">
    <div class="row">
        <div class="col-12">
            <h5>Tweet Liked</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-4" *ngFor="let tweet of registrationService.$tweets; let i = index">
            <div class="card" [class.border-primary]="registrationService.$selectedTweets.includes(tweet.id)" (click)="selectTweet(tweet)">
                <div class="card-header">
                    <div class="row">
                        <div class="col-1">
                            <img class="img-avatar" src="{{tweet.imgUrl}}">
                        </div>
                        <h4 class="col-10">{{tweet.user}}</h4>
                    </div>
                </div>
                <div class="card-body">
                    {{tweet.text}}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
            <div class="col-12">
                <h5>Tweet Recomanded</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-4" *ngFor="let tweet of registrationService.$tweets; let i = index">
                <div class="card" [class.border-primary]="registrationService.$selectedTweets.includes(tweet.id)" (click)="selectTweet(tweet)">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-1">
                                <img class="img-avatar" src="{{tweet.imgUrl}}">
                            </div>
                            <h4 class="col-10">{{tweet.user}}</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        {{tweet.text}}
                    </div>
                </div>
            </div>
        </div>
</div>

<toaster-container [toasterconfig]="toasterConfig"></toaster-container>